@using WebApp.Models
@model IEnumerable<Student>
@{

    Korisnik korisnik = (Korisnik)Session["ulogovanKorisnik"];
}


<html>
<head>

</head>


<body>



    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <a href="~/Administrator/KreirajStudenta" class="navbar-brand">Kreiraj studenta</a>
                <a href="~/Administrator/PregledStudenata" class="navbar-brand">Pregledaj studente</a>
                <a href="~/Home/LogOut" class="navbar-brand">Log out</a>
            </div>
        </div>
    </div>
    <br />
    <br />

    <form action="/Administrator/Pretraga" method="post">
        <div class="form-inline">
            <label for="ispitFil">Pretraga:</label>
            <input type="text" name="imeFil" class="form-control" placeholder="Ime" />
            <input type="text" name="prezimeFil" class="form-control" placeholder="Prezime" />
            <input type="text" name="indexFil" class="form-control" placeholder="Index" />

            <input type="submit" value="Filtriraj" class="btn btn-primary" />
        </div>
    </form>
    <br />
    <form action="/Administrator/Sortiranje" method="post">
        <div class="form-inline">
            <label for="vrstaFiltera">Sortiraj po:</label>
            <select name="vrstaFiltera" class="form-control">
                <option value="ime">Imenu</option>
                <option value="prezime">Prezimenu</option>
                <option value="index">Indexu</option>
            </select>
            <select name="vrednostFiltera" class="form-control">
                <option value="rastuce">Rastuce</option>
                <option value="opadajuce">Opadajuce</option>
            </select>
            <input type="submit" value="Sortiraj" class="btn btn-primary" />
        </div>

    </form>
    <br />

    <br />


    @{
        if (ViewBag.Message != null)
        {
            <h2>@ViewBag.Message</h2>
        }
    }

    <table class="table table-striped table-primary">
        <tr>
            <th>Korisnicko ime</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj indeksa</th>
            <th>Email</th>
            <th>Datum rodjenja</th>
            <th></th>
            <th></th>
        </tr>
        @{
            foreach (var student in Model)
            {
                <tr>
                    <td>@student.KorisnickoIme</td>
                    <td>@student.Ime</td>
                    <td>@student.Prezime</td>
                    <td>@student.BrIndex </td>
                    <td>@student.Email</td>
                    <td>@student.DatumRodjenja</td>

                    <td>
                        <form action="/Administrator/ObrisiStudenta" method="post">
                            <input type="hidden" name="brIndexa" value="@student.BrIndex" />
                            <input type="submit" class="btn btn-primary" value="Obrisi studenta" />
                        </form>

                    </td>

                    <td>
                        <form action="/Administrator/AzurirajStudentaPriprema" method="post">
                            <input type="hidden" name="brIndexa" value="@student.BrIndex" />
                            <input type="submit" class="btn btn-primary" value="Azuriraj studenta" />
                        </form>


                </tr>
            }
        }

    </table>


</body>
</html>